body{
    background-color: #000;
}

.fecha{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.timer{
    font-family: 'Londrina Outline', cursive;
    text-align: center;
    font-size: 80px;
    color: #ffffff;
    letter-spacing: 2.4px;
}

.flechas{
    font-family: 'Londrina Outline', cursive;
    text-align: center;
}

.flechita{
    background-color: black;
    border: none;
    color: white;
    font-size: 100px;
}

.pink {
    text-shadow: 
        0 0 5px #FF7BAC,
        0 0 10px #FF7BAC,
        0 0 20px #FF7BAC,
        0 0 40px #FF7BAC,
        0 0 80px #FF7BAC,
        0 0 90px #FF7BAC,
        0 0 100px #FF7BAC,
        0 0 150px #FF7BAC;
}
.blue {
    text-shadow: 
        0 0 5px #7BACFF,
        0 0 10px #7BACFF,
        0 0 20px #7BACFF,
        0 0 40px #7BACFF,
        0 0 80px #7BACFF,
        0 0 90px #7BACFF,
        0 0 100px #7BACFF,
        0 0 150px #7BACFF;
}
.green {
    text-shadow: 
        0 0 5px #7BFFCE,
        0 0 10px #7BFFCE,
        0 0 20px #7BFFCE,
        0 0 40px #7BFFCE,
        0 0 80px #7BFFCE,
        0 0 90px #7BFFCE,
        0 0 100px #7BFFCE,
        0 0 150px #7BFFCE;
}


/* Responsive */


/* Large devices - PC  */
@media all and (min-width: 991px) and (max-width: 1199px) {
    .fecha{
        font-size: 27px;
    }

    .timer{
        font-size: 60px;
    }

    .flechita{
        font-size: 80px;
    }
}

/* Medium devices - Tablet  */
  @media all and (min-width: 768px) and (max-width: 991px) {
    .fecha{
        font-size: 22px;
    }
    
    .timer{
        font-size: 50px;
    }

    .flechita{
        font-size: 70px;
    }
}
  
/* Small devices  */
@media all and (min-width: 600px) and (max-width: 767px) {
    .fecha{
        font-size: 16px;
    }
    
    .timer{
        font-size: 45px;
    }

    .flechita{
        font-size: 60px;
    }
}

/* Extra small devices  */
@media all and (min-width: 500px) and (max-width: 599px) {
    .fecha{
        font-size: 15px;
    }
    
    .timer{
        font-size: 40px;
    }

    .flechita{
        font-size: 50px;
    }
}

/* Extra extra small devices  */
@media all and (max-width: 499px) {
    .fecha{
        font-size: 10px;
    }
    
    .timer{
        font-size: 35px;
    }

    .flechita{
        font-size: 40px;
    }
}
